<div class="page-header">
  <h1>Payment</h1>
</div>

<p class="lead">A <%= @year%> year loan of $<%= @amount%>, with an annual interest rate of <%= @rate/100%>%, requires a monthly payment of $<%= @monthly_payment_2%>.</p>
